

:root {
    --vermelho-rs: #BF0A30; /* Verde */
    --verde-rs: #006847; /* Vermelho */
    --amarelo-rs: #FFD700; /* Amarelo */
    --branco: #ffffff; /* Branco */
    --cinza-claro: #f5f5f5; /* Cinza claro */
    --cinza-escuro: #333333; /* Cinza escuro */
}

/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--cinza-claro);
    color: var(--cinza-escuro);
    display: block;
    text-align: center;
}

/* Estilo do cabeçalho e navegação */
header {
    background-color: var(--vermelho-rs);
    color: var(--branco);
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: var(--branco);
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: var(--amarelo-rs);
    border-radius: 5px;
}

/* Seção de introdução */
.intro {
    text-align: center;
    padding: 50px;
    background-color: var(--verde-rs);
    color: var(--branco);
}

.intro h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.intro p {
    font-size: 1.2em;
}

/* Seções de monitoramento */
section {
    padding: 20px;
    margin: 10px;
    border: 1px solid var(--verde-rs);
    border-radius: 5px;
    background-color: var(--branco);
}

/* Mapa */
#map {
    margin-bottom: 20px;
    border: 1px solid var(--verde-rs);
    border-radius: 5px;
}

/* Tabela de Status de Risco */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid var(--verde-rs);
}

th {
    background-color: var(--verde-rs);
    color: var(--branco);
}

/* Classes de risco */
.baixo-risco {
    background-color: #d4edda; /* Verde claro */
}

.medio-risco {
    background-color: var(--amarelo-rs); /* Amarelo */
}

.alto-risco {
    background-color: #f8d7da; /* Vermelho claro */
}

/* Estilos do rodapé */
footer {
    background-color: var(--vermelho-rs);
    color: var(--branco);
    text-align: center;
    padding: 10px 0;
    margin-top: 30px;
}

footer p {
    margin: 0;
}

/* Cards na página principal */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 0;
}

.card {
    background-color: var(--branco);
    border: 1px solid var(--verde-rs);
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center;
}

.card h2 {
    color: var(--verde-rs);
}

.card p {
    margin-bottom: 20px;
    color: var(--cinza-escuro);
}

.card a {
    text-decoration: none;
    color: var(--branco);
    background-color: var(--amarelo-rs);
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.card a:hover {
    background-color: var(--verde-rs);
}

.card:hover {
    transform: translateY(-5px);
}

Seção principal com imagem de fundo
.introducao {
    position: relative;
    background-size: 100% 100%;
    background-image: url('./img/Enchente_RS.jpg');
    /*background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 100px;
    width: 100%;
    max-width: 1000px;
    overflow: hidden;*/
    background-size: cover; /* Cobre toda a área da seção */
    background-position: center;
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    color: white;
    text-align: center;
    padding: 100px 100px;
    width: 100%;
    max-width: 1000px;
    height: auto; /* Defina a altura da seção conforme necessário */
    overflow: hidden;
}

.introducao::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: rgba(0, 0, 0, 0.5); overlay */
    z-index: 1; /* Coloca o overlay abaixo do texto */
}

.introducao h1, .introducao p {
    position: relative;
    z-index: 2; /* Coloca o texto acima do overlay */
}

.introducao h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.introducao p {
    font-size: 18px;
    margin-bottom: 30px;
    font-style: italic;
}

